.tab-list {
  height: 100%;
  width: 100%;
  font-size: .16rem;
  display: flex;
}

.tab-list span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-list span.active {
  color: #ff5a49;
  border-bottom: .02rem solid #ff5a49;
}
