.filter {
  position: fixed;
  top: .45rem;
  background: #fff;
  bottom: 0;
  width: 100%;
  z-index: 999;
  opacity: .9;
}

.filter .wrong-number {
  position: absolute;
  bottom: .2rem;
  left: 50%;
  transform: translateX(-50%);
  color: #ff5a49;
}

.filter .main {
  width: 100%;
}

.filter .main a {
  display: inline-block;
  font-size: .16rem;
  padding: .1rem .25rem;
  border: .01rem solid #ff5a49;
  border-radius: .25rem;
  margin-left: .25rem;
  margin-top: .15rem;
  color: #000;
}

.filter .list {
  margin-top: .3rem;
}
